<div style="border: 2px solid black; padding: 1rem;">

  <h3 style="color: aquamarine">Pipes</h3>
  <p>Total price of product is {{ price | currency: "CAD": true: "1.2-4" | lowercase }}</p>
  <p>Total price of product is {{ price | currency: "CAD": true: "1.2-4" }}</p>

  <div>
    <p *ngFor="let f of fileSizes">{{ f | formatFileSize }}</p>
    <p>{{ largeFileSize | formatFileSize:true }}</p>
  </div>`

  <h3>Creating a Structural Directive</h3>
  <div *ngFor="let item of [1,2,3,4,5,6];">
    <app-card *appDelay="500 * item; let loaded = loadTime;">
      {{item}}
      <div class="sub">{{loaded | number:'1.4-4'}}</div>
    </app-card>
  </div>

  <div>
    <rio-hello name="World "></rio-hello>
    <rio-hello [name]="helloName "></rio-hello>
  </div>
  <h1>Passing Data into a Component</h1>
  <rio-counter></rio-counter>

  <h1>
    Responding to Component Events
  </h1>
  <div>
    Parent Num: {{num}} <br>
    Parent Count: {{parentCount}}
    <rio-counter-2 [count]="num"></rio-counter-2>
  </div>

  <h2>Test Intercept input property changes with a setter ("Master")</h2>
  <app-name-parent></app-name-parent>


  <h2>
    Intercept input property changes with ngOnChanges()
  </h2>

  <app-version-parent></app-version-parent>


  <h2>
    Parent listens for child event
  </h2>

  <app-vote-taker></app-vote-taker>

  <app-oanh-counter></app-oanh-counter>

  <h3>Projection</h3>

  <app-child>
    <p>My <i>projected1</i> conent.</p>
    <p>My <i>projected2</i> conent.</p>
  </app-child>

  <h4>Multi projection</h4>
  <app-child-select>
    <section> Section content</section>
    <div class="class-select">
      div with .class-select
    </div>
    <footer> Footer content</footer>
    <header> Header conent</header>
  </app-child-select>

  <h2>Attribute Directives</h2>
  <ul>
    <li>
      <h5>NgStyle Directive</h5>
      <app-ng-style-directive>
        <p>My app style</p>
      </app-ng-style-directive>
    </li>
    <li>
      <h5>NgClass Directive</h5>
      <app-ng-class-directive>
        <p>Binding a string</p>
      </app-ng-class-directive>

    </li>
  </ul>
  <h2 style="color: darkolivegreen;">Structural Directives</h2>
  <ul>
    <li>
      <h5> Ngif directive</h5>
      <button type="button" (click)="toggleExist()"> Toggle Component</button>
      <hr>
      <app-if-directive *ngIf="exist">
        Hello
      </app-if-directive>
    </li>
    <li>
      <h5>NgFor Directive</h5>
      <ul>
        <app-ng-for-directive *ngFor=" let episode of episodes" [episode]="episode" >
          <li>
            {{episode.title}}
          </li>
        </app-ng-for-directive>
      </ul>
      <hr>
      <h3> Cách viết khác của ngFor</h3>
      <ul>
        <ng-template ngFor [ngForOf]="episodes"  let-episode>
          <li>
            <app-ng-for-directive [episode]="episode">
              {{episode.title}}
            </app-ng-for-directive>
          </li>
        </ng-template>
      </ul>
      <hr>
      <h3>Local Variables: index, first, last, even, odd</h3>
      <app-ng-for-directive *ngFor="let episode of episodes; let i = index; let isOdd = odd"
                            [episode]="episode"
                            [ngClass]="{odd: isOdd}">
        {{i+1}}. {{episode.title}}
      </app-ng-for-directive>
      <hr>
      <h2> Cách viết khác</h2>
      <ng-template ngFor [ngForOf]="episodes" let-episode let-i="index" let-isOdd="odd">
        <app-ng-for-directive [episode]="episode" [ngClass]="{odd: isOdd}">
          {{i+1}}. {{episode.title}}
        </app-ng-for-directive>
      </ng-template>
      <hr>
      <h3>trackBy:</h3>
      <button (click)="addOtherEpisode()"
        [disabled]="otherEpisodes.length === 0"
        class="btn-add">
        Add Episode
      </button>
      <br>
      <app-ng-for-directive *ngFor="let episode of episodes;trackBy: trackById; let i = index; let isOdd = odd;"
                            [episode]="episode"
                            [ngClass]="{odd: isOdd}">
        {{i+1}}. {{episode.title}}
      </app-ng-for-directive>
    </li>
    <li>
      <h3> NgSwitch Directives</h3>
      <div class="tab-selection">
        <app-tab [active]="isSelected(1)" (click)="setTab(1)"> Tab 1</app-tab>
        <app-tab [active]="isSelected(2)" (click)="setTab(2)"> Tab 2</app-tab>
        <app-tab [active]="isSelected(3)" (click)="setTab(3)"> Tab 3</app-tab>
      </div>

      <div [ngSwitch]="tab">
        <app-tab-content *ngSwitchCase="1">Tab Conent 1</app-tab-content>
        <app-tab-content *ngSwitchCase="2">Tab Conent 2</app-tab-content>
        <app-tab-content *ngSwitchCase="3">Tab Conent 3</app-tab-content>
        <app-tab-content *ngSwitchDefault> Select a Tab</app-tab-content>
      </div>
    </li>

    <li>
      <h3> Use ngFor and NgIf</h3>
      <ng-template ngFor [ngForOf]="[1,4,56,9,2,3,4,5,6,7,8,9]" let-item>
        <div *ngIf="item >3; else showColor" class="cl-item">{{item}}</div>
      </ng-template>
    </li>

    <li>
      <div class="tabs-selection">
        <app-tab
          *ngFor="let tab of tabs; let i = index"
          [active]="isSelectedNum(i)"
          (click)="setTabNum(i)">
          {{ tab.title }}
        </app-tab>
      </div>

      <div [ngSwitch]="tabNumber">
        <ng-template ngFor [ngForOf]="tabs" let-tab let-i="index">
          <app-tab-content *ngSwitchCase="i">
            {{tab.content}}
          </app-tab-content>
        </ng-template>
        <app-tab-content *ngSwitchDefault>Select a tab</app-tab-content>
      </div>
    </li>

  </ul>

<h4>ViewChild</h4>
  <app-alert>
    my alert
  </app-alert>
  <button (click)="showAlert()">Show Alert</button>

  <h3>
    List query ViewChild
  </h3>
  <app-alert-list-query ok="Next" (close)="showAlertLQ(2)">
    Step 1: Learn Angular
  </app-alert-list-query>
  <app-alert-list-query ok="Next" (close)="showAlertLQ(3)">
    Step 2: Love angular
  </app-alert-list-query>

  <app-alert-list-query ok="Close">
    Step 3: Build app
  </app-alert-list-query>

  <button (click)="showAlertLQ(1)"> Show steps </button>


  <h4>View child and view children</h4>
  <app-alert-list-query #first ok="Next" (close)="showAlertLQ(2)">
    Step 1: Learn Angular
  </app-alert-list-query>
  <app-alert-list-query ok="Next" (close)="showAlertLQ(3)">
    Step 2: Love angular
  </app-alert-list-query>

  <app-alert-list-query ok="Close">
    Step 3: Build app
  </app-alert-list-query>
  <button (click)="showAlertLQ(1)"> Show steps </button>


  <h3>Hello World</h3>
  <div class="hello"> Hello World </div>
  <app-hello-emulated></app-hello-emulated>
  <app-hello-native></app-hello-native>
  <app-hello-none></app-hello-none>

  <h2> ElementRef </h2>
  <div>
    <h1>
        My App
    </h1>
    <pre>
        <code>{{node}}</code>
    </pre>
  </div>

  <h3>Observable</h3>
  <ul>
    <li>
      <app-using-observable></app-using-observable>
    </li>
    <li>
      <app-error-handing></app-error-handing>
    </li>
    <li>
      <app-observable-form-event></app-observable-form-event>
    </li>
    <li>
      <app-observable-array-operations></app-observable-array-operations>
    </li>
  </ul>
  <form [formGroup]="coolForm">
    <input formControlName="search" placeholder="Search Spotify artist">
    <input (click)="search()" type="submit" value="SearchFor Spotify Artist">
  </form>

  <div *ngFor="let artist of result">
    {{artist.name}}
  </div>

  <h1>MovieApp</h1>
  <p>{{ slogan }}</p>
  <button type="button" (click)="changeActor()">
    Change Actor
  </button>
  <app-movie [title]="title" [actor]="actor"></app-movie>

  <app-visit-rangle></app-visit-rangle>

  <p appHighlight>Hover to emphasize p tag</p>
  <div appHighlight>Hover to emphasize div tag</div>



</div>




