<div>
  <rio-hello name="World "></rio-hello>
  <rio-hello [name]="helloName "></rio-hello>
</div>
<h1>Passing Data into a Component</h1>
<rio-counter></rio-counter>

<h1>
  Responding to Component Events
</h1>
<div>
  Parent Num: {{num}} <br>
  Parent Count: {{parentCount}}
  <rio-counter-2 [count]="num" (result)="ngOnChange($event)"></rio-counter-2>
</div>

<h2>Test Intercept input property changes with a setter ("Master")</h2>
<app-name-parent></app-name-parent>


<h2>
  Intercept input property changes with ngOnChanges()
</h2>

<app-version-parent></app-version-parent>


<h2>
  Parent listens for child event
</h2>

<app-vote-taker></app-vote-taker>



